:host{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;   

}

table{
    width: 100%;
    background-color: white;
}

thead{
    padding: 10px;
     background-color: #B88933; 
}

thead > tr{
    color:#5e4416;
    width: 100%;
}

td{
    padding: 5px;
    min-height: 38px;
}



.small{
    font-size: .6em;
}

.online,
.offline { 
    vertical-align: middle;
}

.online::after,
.offline::after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;

}

.online::after{

    background-color: green;
}

.offline::after{
    
    background-color: red;
}